input[type="checkbox"] {
  width: 30px;
  height: 30px;
}
ion-list{
  background-color: transparent !important;
  ion-item{
    &::part(native){
      background-color: transparent !important;
      box-shadow: unset !important;
      padding: unset !important;
    }
    .item-native{
      background-color: transparent !important;
    }
    background-color: transparent !important;
  }
}