<div class="backgroundCover h-dvh">
  <div class="header bg-secondary p-4 w-full flex flex-row gap-2 items-center justify-start rounded-br-2xl rounded-bl-2xl">
    <lucide-icon [img]="Menu"></lucide-icon>
    <header class="text-2xl ">Task Management</header>
  </div>

  <div class="flex flex-col justify-center items-center gap-3 mt-3 overflow-scroll">
    <div *ngFor="let task of taskList" class="w-[95%] border-l-5 border-primary rounded-md p-4 flex flex-row justify-between items-center bg-cards shadow-md">
      <div class="flex flex-col">
        <header class="font-bold text-xl">
          {{task.task_name}}
        </header>
        <span class="font-light text-sm text-justify pr-10 pl-0 line-clamp-2">
          {{task.description}}
        </span>
      </div>
      <span (click)="viewinfo(task.task_i_information_id)">
        View
      </span>
    </div>
  </div>

  <button (click)="addNewTask()" class="bg-primary text-white !p-4 !rounded-full absolute bottom-5 right-5 w-14 h-14 text-2xl rippleEffect z-0">
    +
  </button>
</div>