<div class="bg-primary h-dvh flex justify-start flex-col items-center">
  <img src="assets/logo.png" class="w-4/6 mt-14 mb-14" alt="">
  <div class="w-full bg-navigation h-full rounded-tr-[50px] rounded-tl-[50px] p-9 pt-12 bg-white">
    <header class=" font-semibold text-3xl font-Playfair flex flex-row items-center gap-2"><lucide-icon [img]="left" (click)="back()"></lucide-icon> Request Access</header>
    <form class="!mt-1 py-4">
      <div>
        <header class="text-xl font-Playfair">
          Account Information
        </header>
        <div class="mt-2 flex flex-col">
          <span class="text-xl font-Playfair ">Name</span>
          <span class="text-xl font-semibold font-Playfair">{{User?.firstname}} {{User?.lastname}}</span>
        </div>
        <div class="flex flex-col">
          <span>{{ maskedContactNumber }}</span>
          <div class="flex flex-row items-center border rounded-md pl-2">
            <span>+63</span>
            <input 
              type="text" 
              name="verifyContact" 
              *ngIf="verifyContact != '0'"
              [(ngModel)]="verifyContact" 
              (ngModelChange)="removeLeadingZero($event)"
              (keypress)="validateNumberInput($event)"
              maxlength="10"
              class="w-full !py-3 !pl-1 !border-none !outline-0" 
              placeholder="Contact Number">
          </div>
        </div>

        <button 
          (click)="verify()" 
          [disabled]="isButtonDisabled || originalContactNumber !== verifyContact" 
          [ngClass]="{
            'bg-gray-400 cursor-not-allowed': isButtonDisabled || originalContactNumber !== verifyContact,
            'bg-cyan-400': !isButtonDisabled && originalContactNumber === verifyContact
          }"
          class="!w-full !p-3 text-lg !rounded-xl mt-2 transition-colors duration-300">
          {{ isButtonDisabled ? 'Wait ' + remainingTime + 's' : 'Send OTP' }}
        </button>
        <div class="mt-3">
          <label class="text-xl font-Playfair">Password</label>
          <input 
            type="password" 
            [(ngModel)]="UserPassword.password" 
            name="password"
            class="!w-full !p-3  text-lg !rounded-xl mt-2 border" 
            placeholder="Enter new password">
        </div>
        <div class="mt-3">
          <label for="" class="text-xl font-Playfair">OTP</label>
          <input type="text" name="otpValue" (input)="checkMismatch()" [(ngModel)]="otpValue"  class="!w-full !p-3  text-lg !rounded-xl mt-2 transition-colors duration-300 border" id="">
          @if (mismatchotp) {
            <span class="text-red-950">OTP Mismatch</span>
          }
        </div>
        <button 
          (click)="createPassword()" 
          [disabled]="verifyOtp !== otpValue" 
          [ngClass]="{
            'bg-gray-400 cursor-not-allowed': verifyOtp !== otpValue,
            'bg-cyan-400': verifyOtp === otpValue
          }"
          class="!w-full !p-3  text-lg font-semibold text-lg !rounded-xl mt-2 transition-colors duration-300">
          Proceed
        </button>

      </div>
    </form>
  </div>
</div>
