// @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "tailwindcss";
/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */

.font-Playfair {
  font-family: "Playfair Display", serif;
  font-style: normal;
}

.font-Lora {
  font-family: "Lora", serif;
  font-style: normal;
}

.backgroundCover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.920),
      rgba(255, 255, 255, 0.920)
    ),
    url("assets/general.png"), #efedef;
    background-position: center;
    background-size: 200%;
    background-repeat: no-repeat;
}
.loginbg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.920),
      rgba(255, 255, 255, 0.920)
    ),
    url("assets/loginbg.png"), #ffffff;
    background-position: -210px;
    background-size: 130%;
    background-repeat: no-repeat;
}
.navbg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.920),
      rgba(255, 255, 255, 0.920)
    ),
    url("assets/general.png"), #eae1d4;
    background-position: -200px;
    background-size: 295%;
    background-repeat: no-repeat;
}

.bg-primary {
  background-color: #0c342c !important;
}
.border-primary {
  border-color: #0c342c !important;
}
.bg-navigation {
  background-color: #efedef;
}
.bg-cards {
  background-color: #ffeacc;
}
.bg-secondary {
  background-color: #b08342;
}

@import "@ionic/angular/css/palettes/dark.system.css";
